<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
        <h1>Calories Burnt Prediction</h1>
    </header>

<form method="post" action="/predict">


        <label>Gender</label>
        <input type="text" name="Gender">

        <label>Age</label>
        <input type="text" name="Age">

        <label>Height</label>
        <input type="text" name="Height">

        <label>Weight</label>
        <input type="text" name="Weight">

         <label>Duration</label>
        <input type="text" name="Duration">

         <label>Heart_Rate</label>
        <input type="text" name="Heart_Rate">

         <label>Body_Temp</label>
        <input type="text" name="Body_Temp">



        <input type="submit" value="Predict">
</form>
</body>
</html>